:root {
  --q-blue: #00151a;
  --q-light-blue: #002933;
  --q-orange: #f99925;
  --q-white: #f0e7d5;
}
* {
  box-sizing: border-box;
}
#loadingPage {
  height: 100vh;
  width: 100vw;
  background-color: #00151a;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--q-orange);
  flex-direction: column;
}
.loading-bitcoin {
  display: inline-block;
  position: relative;
  animation: lds-hourglass 2.5s infinite;
  transform-origin: center;
  width: 120px;
  height: 120px;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
body {
  margin: 0px;
  font: 14px/1.5 'OpenSansRegular', Helvetica, Inter, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  color: var(--q-white);
  font-weight: normal;
  background: var(--q-blue);
  background-attachment: fixed !important;
  display: flex;
  min-height: 100vh;
}
#homeLink {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 6;
  fill: var(--q-orange);
  height: 20px;
  width: 20px;
}
.container {
  width: 100vw;
}
.content {
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: var(--q-orange);
}
a {
  color: var(--q-orange);
  text-decoration: none;
}
a:hover {
  color: var(--q-white);
}
p {
  text-align: justify;
  text-justify: inter-word;
}
.hidden,
.private-data--hidden {
  display: none;
}
.small {
  font-size: small;
}
.btn {
  background-color: var(--q-orange);
  color: var(--q-blue);
  border: 1px solid var(--q-white);
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}
.btn:disabled {
  background-color: var(--q-blue);
  color: var(--q-white);
  border: 1px solid var(--q-white);
  cursor: not-allowed;
}
.warning {
  color: var(--q-blue);
  background-color: var(--q-orange);
  border: 1px solid var(--q-orange);
  border-radius: 5px;
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.warning > a {
  color: var(--q-blue);
  text-decoration: underline;
}
textarea {
  resize: none;
}
.textarea-input {
  background-color: var(--q-light-blue);
  color: var(--q-white);
  padding: 4px;
}
.accordion {
  color: var(--q-white);
  background-color: var(--q-blue);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.accordion.accordion--active,
.accordion:hover {
  background-color: var(--q-light-blue);
  color: var(--q-orange);
}
.panel {
  padding: 0 18px;
  background-color: var(--q-blue);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: var(--q-blue);
  float: right;
  margin-left: 5px;
}
.accordion.accordion--active:after {
  content: '\2796';
}
.tab {
  overflow: hidden;
  border: 1px solid var(--q-white);
  background-color: var(--q-blue);
}
.tab-addresses {
  height: 50px;
}
.tab button,
.tab-addresses button {
  background-color: inherit;
  color: var(--q-white);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab-addresses button,
.tab button {
  width: 50%;
}
.tab button:hover,
.tab button.tab--active,
.tab-addresses button:hover,
.tab-addresses button.tab-addresses--active {
  background-color: var(--q-light-blue);
  color: var(--q-orange);
}
.tabContent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--q-white);
  border-top: none;
}
.entropy-details--flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.entropy-details--flex-item {
  border: 1px solid var(--q-white);
  border-radius: 3px;
  padding: 1px;
  margin: 1px;
  text-align: center;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entropy-details--detail--text,
.address-details-text {
  background-color: var(--q-light-blue);
  color: var(--q-white);
  font-family: monospace;
  border-radius: 2px;
  padding: 2px;
  overflow-wrap: anywhere;
}
.address-block {
  border: 1px solid var(--q-white);
  overflow: hidden;
  margin-top: 3px;
  padding: 2px;
  border-radius: 5px;
}
.address-display,
#bip47AddressDisplay {
  max-height: 50vh;
  overflow-y: scroll;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.bip47-robot {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  border: 5px solid var(--q-orange);
}
.bip85-item {
  margin-top: 5px;
}
#bip141ScriptSemantics,
#derivedPathSelect,
#pathCoin,
#pathChange,
#bip85Application,
#bip85MnemonicLength {
  width: 100%;
  background-color: var(--q-light-blue);
  color: var(--q-orange);
  padding: 8px;
}
.path-text-input {
  width: 100%;
  color: var(--q-orange);
}
.info-button {
  background-color: var(--q-blue);
  color: var(--q-orange);
  border: 1px solid var(--q-orange);
  border-radius: 5px;
  margin: 5px;
  padding: 6px;
}
.info-button:hover {
  background-color: var(--q-light-blue);
  color: var(--q-orange);
}
.one-click-copy,
.address-copy {
  cursor: copy;
}
#networkIndicator {
  position: fixed;
  top: 25px;
  right: 25px;
  fill: var(--q-orange);
  z-index: 5;
  width: 25px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: var(--q-white);
  color: var(--q-blue);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--q-orange);
  width: 80%;
  border-radius: 20px;
}
.modal-content a,
.modal-content a:any-link {
  color: var(--q-light-blue);
  text-decoration: underline;
}

#modalClose {
  color: var(--q-blue);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#modalClose:hover,
#modalClose:focus {
  color: var(--q-blue);
  text-decoration: none;
  cursor: pointer;
}
.copy-icon {
  color: var(--q-orange);
  vertical-align: text-bottom;
  fill: currentColor;
  height: 15px;
  width: 15px;
}
.copy-button {
  position: absolute;
  right: 3px;
  top: 3px;
  background: var(--q-blue);
  box-shadow: 0 0 0 5px var(--q-blue);
  cursor: copy;
}
.copy-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 3px;
  margin-bottom: 3px;
}
#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--q-orange);
  color: var(--q-blue);
  text-align: center;
  border-radius: 20px;
  padding: 16px;
  position: fixed;
  z-index: 2;
  left: 50%;
  bottom: 30px;
  box-shadow: 0 0 4px 2px var(--q-white);
}
#toast-background {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  cursor: not-allowed;
}
#toast.show-toast,
#toast-background.show-toast {
  visibility: visible;
  -webkit-animation: toastFadeIn 0.5s, toastFadeOut 0.5s 2.5s;
  animation: toastFadeIn 0.5s, toastFadeOut 0.5s 2.5s;
}
@-webkit-keyframes toastFadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes toastFadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes toastFadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes toastFadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: var(--q-blue);
  color: var(--q-orange);
  box-shadow: 0 0 4px 2px var(--q-orange);
  margin: 4px;
  cursor: pointer;
}

.chip:hover {
  background-color: var(--q-light-blue);
}

.chip-img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAJKklEQVRYw9VZWWwbxxn+Z2YvLimJ4iGKOqjDOmpbdmL5ihwfclLbadCgCeqgDXoAbYE2QB8aIHko0ALtQ9HXvrZo06IFmjwEgWsESILEsZXDbuxKkV1HlpTI1kGRlEhK4bXLvWamD6JlydFBKgqQLviw3J1/+e0/33z/9w/Rof2Pw1fvwPCVPP4fYMmypLrVjQOqq6tWfn2imD1dWATOv0RYe/b0HOnr2zigp6dHFMVSMHUOm9pOqkuOuUFId3dXpbBIY0Pn8pd4PHHnzuTGAdHoLGNs6ZxjrDzR/1oirWPXBiGh+rpUKr3eXYTQiRPHp6ent5NbkfYWjZLSKxLiXosDt0ZGN8kNIdtJeW4bTZFmwixObQDo7Ow4ffrMygHt7W0P7ntgk4dwfvHipc1hKYri9dZsionZBhDRHwg0tUe4YwHA2Nj4uXPnVo65c2fy+vCNz8eePNmvqq7KBMLv9zU3N60ahFF/f//9nMACt/S5WKzW50GCXFGaBwbe1fViZbBisfjNmyOrEsP4wMDA0nlLa6QEiwhIdje1tBx46DAiQmWzv5mglMutjs4dZ8+eBYBgILhyERXy+R0d7QCV6RZC26TyE5/efvXVVwFgcHBo5fMLBa2xubm+rqp8TM3NTc88871tKz5rZj6byyuKcvyRPqYo4JjgWJzRTZXvpZf+WYGclg2QcVNDekbu6rK6DyfT2SsFOdnQ5Q/V+g/1udvaBJnQ1AzNZQBhRMQtSE+FVKUO0hZqjj3iO3BcDUcSsblLOfmSRqjcoFq36o+edoeb7yKnRiqRnxiZf+MVazGPJLUy8pXvt3gx13nmVG3/t6ivHgABAHfsQmxaT82JAlEbW4niwqKEJQXhe9xgljn+9uv6+X8g1buByocb6mejscqzpWeOPvd84MCJyVRGSybzhq07qGDaOpeot5NhAYoCylnYystGoUYRqwXmrfGowXDSIol9j8mekPLyH5DiWXvKBBLwB1bCKotb3DZ6v/t0cN/RtycWxj8zYqJ3AatG9LZW10JdHi7KYirKXB6uqExRUTqeqd+RlmoSOSM9NZlIpni1j/rDGIMQnVhTGyilc3PzFa/E2kh9xyPfHDVdc3IN6Pmli1ZbD+BSibXD7VxSStdbd5X4oeUy3nAhNoHHBgHA3HeSW/r2uVPOO089nkymr+dsAHBCLWU+2gm1INnFRNlIz+Jsmnm8dNeBbYPFqVUTbnYCEVa5A0VEwK4qQcuxZBQAWLBp2wQCcW4Xdd1iKy96PzjnSsWBU7Ct5YFMVuaf/Pn97+2uLgYaFUMjALzs0lnGOIQESRbJaqoWC4ZRYAgxLDBCOBFBksG9hh0iapUDwG0LALChf1FYoig6jsM550TMzcf87XtX3s2c+kG58ygqwBlGCADQ3NTKMv/jH/3kxb/+pTJuPfXkU93dnQCAEJ587x2fCwfELVlZQtRUDIkyLhbIp/9dWWHXw7SRbo3cGkmnF0pSmkw2Hzzkq/VNFJyK66dZLBqa4vGK2bQwfh1hsn3tq+z+5OIbbV6pUa44Ydw2sW0hb514fQAJ0jZ31RNvXcjFp4+FVbxa0kofxpBtIbOITB1WGxuWTctWEdsGGR3+EhyE7L752ivHnn3hYb98eXq+5+abXdnBIlpw+5H+seXOU+NrxaY2ei1+ati33+l5eNlHiJMfk/pW+YPz6xXEL2pspj74sPP49Z6dD06lpGeDbx05Shc7su5avvjrougB8XlF9ZDE753rxfy9Yrc4z0RZzabJ2DDIFcCqgCtIkK/+7Y+sqD0kZ3vb7ETO8IXR7A3LR/FcG6sNkFTcfqApBKREIO5YVmxC1bPi+/9ClWCq2J1amkmdQsSNalLvz5hWgbBPBsRsrOZ22DdPm4b/LcyTgzeoi4UiwDkfHxRjn1ZdewNjFVBlawVVvO3mWH0/+2lsURvTEeUcLfGdUVTIAGNcVrg35PQcseem2cRw4OLLmLiRqHy5phkAQJCu/vlPp3/zO6+7+b0Fe80Oy8kk7ei4f+QKBnkLmLbYYnAk3L7wel1He9QVAoTuw8SzKXL5fPXof6RUcuXqQwhhjHl5O2FlwUKft5RESg9dAV+dE2gEhHAhs2QDuWWia29WDb0jaPpd8USA0M6d3bIi79q1a3Z2dtsmsb+//9Kl+zdVGJKk8y+SW9fMh74BREDUFhJT7uELavSjxePfd6p8HGPggMwiySTdsj06+OHsTLRM7pcF6/OYlrMo3LoKWgar7nZzBhAoqjtdXWXXt3JZdRraS66asfemR/DOeWF2QjAMKKM5E2BrB+fcKVqPfsfq7kWG5hGlurFXEEKc888sRBvagVKsZVmVD2s5NPR2TpBoZy9q3xsYuiAl48wXgmo/2AZKxZBhgOKB1V3ulmAxh7Z162d+SL1BZGjYsfKyOl7bWzU/boju+I4eLrmE+ITd2IW1HP3ogn7XHnoW4vTE07m23czlWX49kk2LUyPy639HgmtLsByTNbbRxjYApPc/zQURALjiBkPHC/GYL4IFN/N4EaNC/I7d0IGoQ28M6Gp1CdPiPOp7wvQG7+MB9Qa5P1zsPeEdvIQkdyWwqO3adyjV+xitrZNHrxk9R2CFbaLeIPUGATjUtwBCSw03AKDRy7pcSoBSyOD9j9L7MC0NswwzOm4Fm+Qdu9Xo5FL45rAIcvp+8dztwJ6ERpWPL5u7+2BtK7dKwPBn88XcAsgqACBG5VCL46tf+wdmP7FkFQAKTZ3qnTEQlbVLdWtry8GDpYZOFPjXf/Vbo3X/qM5qY+Nnjh8us3vhU7ccubTiXHqedjy4LjXSpR7fVquo6l7XQUxPzwwNfQQAiFr9L/wSN3ZdTBnINh+uI/6gH5VTaM2inVtYJrXQ2LlExDUMjJ6z6T3b6NT41oXFOV/6Q2DP2W/7u/YOxHTGITQ3Eel5YC5vl1M7SHLGvLv6ZC3LIuv/i5FbpNK97WCquDbxW4SZXSfPjC8YCYsBwJ6QCoI4mDbLEpDc4jLPiDfIpfX3uguZ5SUCAExxbwIrcuwoqN7LaQsAsKnXh/yJvJ20WVmwtOy9aaoNbTS0WFgVSISl3eF1YYV3753JWhbnAKBqmeq68FTWLldubfNu/09RlW8jFtLV/cjdbZ//ATNJCRDfF2L0AAAAAElFTkSuQmCC');
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
label{
  display: block; /* add this */
  padding-top: 5px;
}
